In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('loan_data.csv')

In [10]:
df.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     1
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       1
loan_int_rate                     2
loan_percent_income               2
cb_person_cred_hist_length        3
credit_score                      3
previous_loan_defaults_on_file    3
loan_status                       4
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44997 entries, 0 to 44996
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      44997 non-null  float64
 1   person_gender                   44997 non-null  object
 2   person_education                44997 non-null  object
 3   person_income                   44996 non-null  float64
 4   person_emp_exp                  44997 non-null  object
 5   person_home_ownership           44997 non-null  object
 6   loan_amnt                       44997 non-null  object
 7   loan_intent                     44996 non-null  object
 8   loan_int_rate                   44995 non-null  float64
 9   loan_percent_income             44995 non-null  float64
 10  cb_person_cred_hist_length      44994 non-null  float64
 11  credit_score                    44994 non-null  object
 12  previous_loan_defaults_on_file  44994 non-null  object
 13  loan_status                     44993 non-null  float64
dtypes: float64(6), object(8)
memory usage: 4.8+ MB

# Missingvalue

# mode
# mean
# median
# fixed
# drop

# mode

In [15]:
df['loan_intent'].fillna(df['loan_intent'].mode()[0],inplace=True)

C:\Users\sayfi\AppData\Local\Temp\ipykernel_27404\468068572.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['loan_intent'].fillna(df['loan_intent'].mode()[0],inplace=True)

In [26]:
df['previous_loan_defaults_on_file'].unique()

array([nan])

In [18]:
df['loan_status'].fillna(df['loan_status'].mode()[0],inplace=True)

C:\Users\sayfi\AppData\Local\Temp\ipykernel_27404\668555400.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['loan_status'].fillna(df['loan_status'].mode()[0],inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44997 entries, 0 to 44996
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      44997 non-null  float64
 1   person_gender                   44997 non-null  object
 2   person_education                44997 non-null  object
 3   person_income                   44996 non-null  float64
 4   person_emp_exp                  44997 non-null  object
 5   person_home_ownership           44997 non-null  object
 6   loan_amnt                       44997 non-null  object
 7   loan_intent                     44997 non-null  object
 8   loan_int_rate                   44995 non-null  float64
 9   loan_percent_income             44995 non-null  float64
 10  cb_person_cred_hist_length      44994 non-null  float64
 11  credit_score                    44994 non-null  object
 12  previous_loan_defaults_on_file  44994 non-null  object
 13  loan_status                     44997 non-null  float64
dtypes: float64(6), object(8)
memory usage: 4.8+ MB

# Median

In [17]:
df['loan_status'].fillna(df['loan_status'].median(),inplace=True)

C:\Users\sayfi\AppData\Local\Temp\ipykernel_27404\3857379721.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['loan_status'].fillna(df['loan_status'].median(),inplace=True)

In [ ]:
df['previous_loan_defaults_on_file'].fillna(df['previous_loan_defaults_on_file'].median(),inplace=True)  # bu vaziyatda median textli qiymat bilan ishlamaydi 
# berilgan qiymatimiz matinli  shu sababdan uni nomerikal raqamliga o'tkazamiz

TypeError: Cannot convert ['No' 'Yes' 'No' ... 'No' 'No' 'No'] to numeric

In [24]:
df['previous_loan_defaults_on_file']=df['previous_loan_defaults_on_file'].map({'no':0,'yes':1}) # bu joyda data framedagi berilgan ustunni nomerikalga o'tqazib oldik 
df['previous_loan_defaults_on_file'].fillna(df['previous_loan_defaults_on_file'].median(),inplace=True)

C:\Users\sayfi\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\numpy\lib\_nanfunctions_impl.py:1214: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)
C:\Users\sayfi\AppData\Local\Temp\ipykernel_27404\1122189441.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['previous_loan_defaults_on_file'].fillna(df['previous_loan_defaults_on_file'].median(),inplace=True)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44997 entries, 0 to 44996
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      44997 non-null  float64
 1   person_gender                   44997 non-null  object
 2   person_education                44997 non-null  object
 3   person_income                   44996 non-null  float64
 4   person_emp_exp                  44997 non-null  object
 5   person_home_ownership           44997 non-null  object
 6   loan_amnt                       44997 non-null  object
 7   loan_intent                     44997 non-null  object
 8   loan_int_rate                   44995 non-null  float64
 9   loan_percent_income             44995 non-null  float64
 10  cb_person_cred_hist_length      44994 non-null  float64
 11  credit_score                    44994 non-null  object
 12  previous_loan_defaults_on_file  0 non-null      float64
 13  loan_status                     44997 non-null  float64
dtypes: float64(7), object(7)
memory usage: 4.8+ MB

# mean

In [31]:
df['loan_int_rate'].fillna(df['loan_int_rate'].mean(),inplace=True)

C:\Users\sayfi\AppData\Local\Temp\ipykernel_27404\2973763330.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['loan_int_rate'].fillna(df['loan_int_rate'].mean(),inplace=True)

In [33]:
df['loan_percent_income'].fillna(df['loan_percent_income'].mean(),inplace=True)

C:\Users\sayfi\AppData\Local\Temp\ipykernel_27404\342080827.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['loan_percent_income'].fillna(df['loan_percent_income'].mean(),inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44997 entries, 0 to 44996
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      44997 non-null  float64
 1   person_gender                   44997 non-null  object
 2   person_education                44997 non-null  object
 3   person_income                   44996 non-null  float64
 4   person_emp_exp                  44997 non-null  object
 5   person_home_ownership           44997 non-null  object
 6   loan_amnt                       44997 non-null  object
 7   loan_intent                     44997 non-null  object
 8   loan_int_rate                   44997 non-null  float64
 9   loan_percent_income             44997 non-null  float64
 10  cb_person_cred_hist_length      44994 non-null  float64
 11  credit_score                    44994 non-null  object
 12  previous_loan_defaults_on_file  0 non-null      float64
 13  loan_status                     44997 non-null  float64
dtypes: float64(7), object(7)
memory usage: 4.8+ MB

# fixed

In [44]:
df['cb_person_cred_hist_length'].fillna('ok',inplace=True)

C:\Users\sayfi\AppData\Local\Temp\ipykernel_27404\2241714478.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cb_person_cred_hist_length'].fillna('ok',inplace=True)

In [45]:
df['credit_score'].fillna('yes',inplace=True)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44993 entries, 0 to 44996
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  44993 non-null  float64
 1   person_gender               44993 non-null  object
 2   person_income               44993 non-null  float64
 3   person_emp_exp              44993 non-null  object
 4   person_home_ownership       44993 non-null  object
 5   loan_amnt                   44993 non-null  object
 6   loan_intent                 44993 non-null  object
 7   loan_int_rate               44993 non-null  float64
 8   loan_percent_income         44993 non-null  float64
 9   cb_person_cred_hist_length  44993 non-null  float64
 10  credit_score                44993 non-null  object
 11  loan_status                 44993 non-null  float64
dtypes: float64(6), object(6)
memory usage: 4.5+ MB

# drop

In [35]:
df.drop('previous_loan_defaults_on_file',axis=1,inplace=True)

In [37]:
df['person_education']=df['person_education'].map({'no':0,'yes':1})

In [39]:
df.drop('person_education',axis=1,inplace=True)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44997 entries, 0 to 44996
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  44997 non-null  float64
 1   person_gender               44997 non-null  object
 2   person_income               44996 non-null  float64
 3   person_emp_exp              44997 non-null  object
 4   person_home_ownership       44997 non-null  object
 5   loan_amnt                   44997 non-null  object
 6   loan_intent                 44997 non-null  object
 7   loan_int_rate               44997 non-null  float64
 8   loan_percent_income         44997 non-null  float64
 9   cb_person_cred_hist_length  44994 non-null  float64
 10  credit_score                44994 non-null  object
 11  loan_status                 44997 non-null  float64
dtypes: float64(6), object(6)
memory usage: 4.1+ MB

In [42]:
df.dropna(inplace=True)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44993 entries, 0 to 44996
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  44993 non-null  float64
 1   person_gender               44993 non-null  object
 2   person_income               44993 non-null  float64
 3   person_emp_exp              44993 non-null  object
 4   person_home_ownership       44993 non-null  object
 5   loan_amnt                   44993 non-null  object
 6   loan_intent                 44993 non-null  object
 7   loan_int_rate               44993 non-null  float64
 8   loan_percent_income         44993 non-null  float64
 9   cb_person_cred_hist_length  44993 non-null  float64
 10  credit_score                44993 non-null  object
 11  loan_status                 44993 non-null  float64
dtypes: float64(6), object(6)
memory usage: 4.5+ MB

# CONDESHINLAR

In [54]:
x=2
if x==5:
    print('alo')
elif x==4:
    print('otdingiz')
elif x==3:
    print('yiqildingiz')
elif x<=3:
    print('qayta topshirish')
else:
    print('siz endi qayta topshira olmaysiz')

qayta topshirish

In [ ]:
x=str(input('qayta kiriting'))
if x==2324:
    print('to'gri)
else:
    print('xato kod')