In [27]:
import pandas as pd

In [54]:
df=pd.read_csv('ai_assistant_usage_student_life.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9982 entries, 0 to 9981
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SessionID           9981 non-null   object
 1   StudentLevel        9981 non-null   object
 2   Discipline          9976 non-null   object
 3   SessionDate         9979 non-null   object
 4   SessionLengthMin    9977 non-null   object
 5   TotalPrompts        9974 non-null   object
 6   TaskType            9974 non-null   object
 7   AI_AssistanceLevel  9974 non-null   object
 8   FinalOutcome        9974 non-null   object
 9   UsedAgain           9973 non-null   object
 10  SatisfactionRating  9971 non-null   float64
dtypes: float64(1), object(10)
memory usage: 858.0+ KB

 ONE-HOT

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9982 entries, 0 to 9981
Columns: 9982 entries, StudentLevel to ustun_SESSION10000
dtypes: int64(9982)
memory usage: 760.2 MB

In [4]:
df['SessionID'].nunique()

9981

In [11]:
#yangi ustunlar yaratish
duummies=pd.get_dummies(df['SessionID'],prefix='ustun',dtype=int)

In [10]:
duummies

,ustun_SESSIDrafted,ustun_SESSION00001,ustun_SESSION00002,ustun_SESSION00003,ustun_SESSION00004,ustun_SESSION00005,ustun_SESSION00006,ustun_SESSION00007,ustun_SESSION00013,ustun_SESSION00014,...,ustun_SESSION09991,ustun_SESSION09992,ustun_SESSION09993,ustun_SESSION09994,ustun_SESSION09995,ustun_SESSION09996,ustun_SESSION09997,ustun_SESSION09998,ustun_SESSION09999,ustun_SESSION10000
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9978,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9980,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9981,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [13]:
# yaratilgan ustunlarni dataset bilan birlashtirish kodi
df=pd.concat([df,duummies],axis=1)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9982 entries, 0 to 9981
Columns: 9992 entries, SessionID to ustun_SESSION10000
dtypes: float64(1), int64(9981), object(10)
memory usage: 761.0+ MB

In [18]:
df.drop('SessionID',axis=1,inplace=True)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9982 entries, 0 to 9981
Columns: 9991 entries, StudentLevel to ustun_SESSION10000
dtypes: float64(1), int64(9981), object(9)
memory usage: 760.9+ MB

# LABEL ENCODING

In [20]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [21]:
df['StudentLevel']=encoder.fit_transform(df['StudentLevel'])

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9982 entries, 0 to 9981
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SessionID           9981 non-null   object
 1   StudentLevel        9981 non-null   object
 2   Discipline          9976 non-null   object
 3   SessionDate         9979 non-null   object
 4   SessionLengthMin    9977 non-null   object
 5   TotalPrompts        9974 non-null   object
 6   TaskType            9974 non-null   object
 7   AI_AssistanceLevel  9974 non-null   object
 8   FinalOutcome        9974 non-null   object
 9   UsedAgain           9973 non-null   object
 10  SatisfactionRating  9971 non-null   float64
dtypes: float64(1), object(10)
memory usage: 858.0+ KB

In [34]:
df[['SessionID','StudentLevel','Discipline']] = df[['SessionID','StudentLevel','Discipline']].apply(lambda col: col.fillna(col.mode()[0]))

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9982 entries, 0 to 9981
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SessionID           9982 non-null   object
 1   StudentLevel        9982 non-null   object
 2   Discipline          9982 non-null   object
 3   SessionDate         9979 non-null   object
 4   SessionLengthMin    9977 non-null   object
 5   TotalPrompts        9974 non-null   object
 6   TaskType            9974 non-null   object
 7   AI_AssistanceLevel  9974 non-null   object
 8   FinalOutcome        9974 non-null   object
 9   UsedAgain           9973 non-null   object
 10  SatisfactionRating  9971 non-null   float64
dtypes: float64(1), object(10)
memory usage: 858.0+ KB

In [36]:
dummies=pd.get_dummies(df['SessionID'],prefix='ustun',dtype=int)

In [37]:
df=pd.concat([df,dummies],axis=1)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9982 entries, 0 to 9981
Columns: 9992 entries, SessionID to ustun_SESSION10000
dtypes: float64(1), int64(9981), object(10)
memory usage: 761.0+ MB

In [42]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [43]:

df['StudentLevel']=encoder.fit_transform(df['StudentLevel'])

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9982 entries, 0 to 9981
Columns: 9992 entries, SessionID to ustun_SESSION10000
dtypes: float64(1), int64(9982), object(9)
memory usage: 761.0+ MB

In [45]:
df.nunique()

SessionID             9981
StudentLevel             8
Discipline              12
SessionDate            372
SessionLengthMin      4079
                      ...
ustun_SESSION09996       2
ustun_SESSION09997       2
ustun_SESSION09998       2
ustun_SESSION09999       2
ustun_SESSION10000       2
Length: 9992, dtype: int64

In [49]:
df.isnull().sum()

SessionID              1
StudentLevel           1
Discipline             6
SessionDate            3
SessionLengthMin       5
TotalPrompts           8
TaskType               8
AI_AssistanceLevel     8
FinalOutcome           8
UsedAgain              9
SatisfactionRating    11
dtype: int64

In [51]:
for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype==object:
            df[col].fillna(df[col].mode()[0],inplace=True)
        else:
            df[col].fillna(df[col].mean(),inplace=True)

C:\Users\sayfi\AppData\Local\Temp\ipykernel_9312\1836909251.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0],inplace=True)
C:\Users\sayfi\AppData\Local\Temp\ipykernel_9312\1836909251.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(),inplace=True)

In [56]:
df.isnull().sum()

SessionID              1
StudentLevel           1
Discipline             6
SessionDate            3
SessionLengthMin       5
TotalPrompts           8
TaskType               8
AI_AssistanceLevel     8
FinalOutcome           8
UsedAgain              9
SatisfactionRating    11
dtype: int64

In [60]:
for col in df.columns:
    if df[col].isnull().any():
        if df[col].dtype=='abject':
            df[col].fillna(df[col].mode()[0],inplce=True)
        else:
            df[col].fillna(df[col].median(),inplace=True)

TypeError: Cannot convert ['SESSION00001' 'SESSION00002' 'SESSION00003' ... 'SESSION09998'
 'SESSION09999' 'SESSION10000'] to numeric